<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>kenslist</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        

    </head>
    <body>
    
        <nav>
            <div class="navbar">
              <a href='/' class ='ourlistpadding'>kenslist</a>              
              <ul id="nav-mobile" class="right hide-on-med-and-down">
              </ul>
            </div>
          </nav>

          <main>
        <div class ='indexform'> 
            <p class ='craigslist' style = 'font-family: times'> welcome to kenslist </p>
            <span style = 'font-family: times'> choose a category below to start buying/!</span>
        <div class='editformsection'>
       
                
                <a href="/jobs" class='btn waves-effect waves-light'id='clbutton'>Jobs</a>
           
                <a href='/events' class ='btn waves-effect waves-light'id='clbutton'>Events</a>
         
                <a href='/pets' class='btn waves-effect waves-light'id='clbutton'>Pets</a>
          
                <a href='/music' class='btn waves-effect waves-light'id='clbutton'>Music</a></li>
          
    </div>
</div>
</main>

<footer class="page-footer"id ='navbar'>
  <span id='footerpadding'>
 Ken
  </span>
</footer>
    
</body>
</html>