.editform {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* padding: 3%; */
    /* text-align: center; */
    /* margin-top: 25%; */
    /* width: 65%; */
    width: 500px;
    margin: 0 auto;
    /* margin-top: 10%; */

}
.craigslist {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background: lightgrey;
    font-size: 30px;
    font-family: times;
    color: blue;
}

.indexform {
    /* border: 1px solid black; */
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* border-radius: 15px; */

    padding: 3%;
    text-align: center;
    /* margin-top: 25%; */
    /* width: 65%; */
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;
}

.editformsection {
    /* width: 500px;
    margin: 0 auto;
    margin-top: 10%; */
    text-align:center;
}

#postlistings {
    text-align: left;
}

.showcard {
    width: 600px;
    margin: 0 auto;
    margin-top: 10%;

    text-align: center;

    /* text-align: center; */
    /* position: fixed; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }




.headingtitle {
font-size: 30px;
font-family: times;
}

.comments {
    /* border: 1px solid black; */
    padding: 1.5%;
    text-align: center;
}

#commentbox {
    width: 300px;
    margin: 0 auto;
}

.navbar {
    background: gray;
}


#clbutton {
    background: gray; 
}

#navbar {
    background: gray;

}

.ourlistpadding {
    padding: 4%;
    font-size: 20px;
}

#footerpadding {
    padding: 1.5%;
}