<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>kenslist pets </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>
      <nav>
        <div class="navbar">
          <a href='/' class ='ourlistpadding'>OURLIST</a>          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/pets">Go Back</a></li>
            <li><a href="/pets/new">Create a New Listing!</a></li>
            <li><a href="/pets">View All pets Listings</a></li>
        </ul>
        </div>
      </nav>

      <main>
    
        <div>
            <br><br><br><br>
    
            <section class = 'editformsection'>
                <span class='craigslist'>create a new listing</span>
                <br>  <br>
                <br>
    
    
            
            <div class ='editform'>
            <form id="new-form" action="/pets" method="POST">
                
                <label>Posting Title:</label>
                <input type="text" name="title" placeholder ='What are you selling?'>
                <label>Price:</label>
                <input type="number" name="price" placeholder = '$0'>
            
                </select>
                <br>
                <label>Description</label>
                <input type="text" name="description" placeholder ='Tell us about it!'>
       
                <input type="submit"  class = 'btn waves-effect waves-light' id='clbutton' value="Create Listing" />
    <br><br>
              </form>
            </div>
    </section>
            </div>
            </main>

            <footer class="page-footer"id ='navbar'>
              <span id='footerpadding'>
            
              </span>
        </footer>

    </body>
</html>